/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/

/*
Change Quick Sidebar Width
*/

/*
.page-quick-sidebar-wrapper {
  right: -370px;
  width: 370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content .page-sidebar-wrapper {
  margin-left: -370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content .page-footer {
  margin-right: 370px;
  margin-left: -370px;
}

.page-sidebar-reversed.page-quick-sidebar-open.page-quick-sidebar-push-content .page-sidebar-wrapper {
  margin-right: 370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content.page-quick-sidebar-full-height .page-header {
  margin-left: -370px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-list {
  width: 370px !important;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-item {
  width: 370px !important;
  margin-left: 370px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-content-item-shown .page-quick-sidebar-list {
  margin-left: -370px;
}
*/
a,.table tr{
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -ms-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
}
.table-scrollable{
    overflow: visible;
}
td:last-child .dropdown-menu, .portlet-title .actions .dropdown-menu{
    right: 0;
    left:auto;
}
td:last-child .dropdown-menu::before, .portlet-title .actions .dropdown-menu::before{
    right: 9px;
    left:auto;
}
td:last-child .dropdown-menu::after, .portlet-title .actions .dropdown-menu::after{
    right: 10px;
    left:auto;
}
.highlighted{background: #ffff95;}
.popover-title{
    background-color:#fcf8e3;
}
.table > thead > tr > td.active, .table > thead > tr > th.active, .table > thead > tr.active > td, .table > thead > tr.active > th, .table > tbody > tr > td.active, .table > tbody > tr > th.active, .table > tbody > tr.active > td, .table > tbody > tr.active > th, .table > tfoot > tr > td.active, .table > tfoot > tr > th.active, .table > tfoot > tr.active > td, .table > tfoot > tr.active > th{
    background: #f5f5f5;
}
.select_icon label{border: 1px solid #cccccc;padding: 4px; margin: 3px;cursor: pointer;width:40px;text-align: center;}
.select_icon label input{display: none;}
.select_icon label:hover{background: #eeeeee;}
.select_icon label.checked{background: #cccccc;}
.popover.confirmation.in{z-index: 999999;}
.btn .badge{display: inline;}
.input-sm .select2-input{
    padding: 3px 0 !important;
}
.input-sm .select2-choices{
    min-height: auto !important;
}
select.select2{
    display: none;
}
.table-responsive{
    padding-bottom: 250px;
}

a.dz-remove {
    color: red;
    font-weight: bold;
}

.note.note-success {
    background-color: #518ed2;
    border-color: #129b97;
    color: #ffffff;
}
